<div class="container">
  <h1>My new app</h1>
  <h2>This is a ngFor test</h2>

  <ul>
    <!-- sintaxis antigua -->
    <li *ngFor="let task of tasks">
      {{ task }}
    </li>
  </ul>
  <hr />
  <h2>{{ "Hola_".repeat(4) }}</h2>
  <p>La suma de 3 +3 es {{ 3 + 3 }}</p>
  <p>Hola soy {{ name }} y mi edad es {{ age }}</p>
  <hr />
  <img [src]="person.avatar" alt="" />
  <input type="number" [value]="person.age" />
  <button [disabled]="disabled">Click Me!!</button>
  <p>person: {{ person.name }}</p>
  <button (click)="clickHandker()">Click ME!!</button>
  <hr />
  <button (dblclick)="clickHandker()">CDoubleme!!</button>
  <hr />
  <p>(change)</p>
  <input type="number" [value]="person.age" (change)="changeHandler($event)" />
  <p>(change)</p>
  <input type="text" [value]="person.name" (change)="changeHandler($event)" />
  <p>(keywond)</p>
  <input type="text" [value]="person.name" (keydown)="keydownHandler($event)" />
  <p>(Atajo teclado shift + t)</p>
  <input type="text" [value]="person.name" (keydown.shift.t)="clickHandker()" />
  <p>(Telado en timepo real)</p>
  <input type="text" (keyup)="changeTextKeyboard($event)" />
  <p>I'm the input content => {{ valueInput }}</p>
</div>
